<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista para <%= abogado %></title>
</head>
<body>
  <h1>Legales de <%= abogado %></h1>
  <ul>
    <% legales.forEach(legal => { %>
      <li>
        <strong>Marca:</strong> <%= legal.marca %> <br>
        <strong>Legal:</strong> <%= legal.legal %> <br>
        <strong>Fecha:</strong> <%= legal.fecha_hora %> <br>
      </li>
    <% }); %>
  </ul>
</body>
</html>
