<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrador Legales</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="//cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css">
  <script src="//cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>

</head>
<body>

  <script>
    function codeAddress() {
      let table = new DataTable('#legales');
    }
    window.onload = codeAddress;
  </script>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Administrador Legales</h1>
        
      </div>
    </div>
    <div class="row">
      <table class="table" id="legales">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Marca</th>
            <th>Evento</th>
            <th>Usuario</th>
            <th>Legal</th>
          </tr>
        </thead>
        <tbody>
          <% legales.forEach(legal => { %>
            <tr>
              <td><%= legal.fecha_hora %></td>
              <td><%= legal.marca %></td>
              <td><%= legal.evento %></td>
              <td><%= legal.nombre_usuario %></td>
              <td><%= legal.legal %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>